body,
html {
  margin: 0;
  padding: 0;
}
/* Due to vh and vw in the front page */
.frontMain {
  overflow-x: hidden;
}

/* Use background image to cover viewpoint */
.mainTitle {
  background: url("./pics/toronto.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.navButtons {
  height: 25%;
  background-color: red;
}

.mainDescription {
  height: 50%;
  background-color: blue;
}

.mainLinks {
  height: 25%;
  background-color: yellow;
}
