.body {
  margin: 0;
  padding: 0;
}
.mainTitle {
  background: url("./pics/toronto.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

@media (max-width: 320px) {
  .mainTitle {
    height: 50vh;
  }
}
