.nav-main {
    font-weight: bold;
    display: flex;
    border-bottom: solid 1px black;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
}


.nav-links a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.Contact {
    color: #f542a7;
}