.container {
  width: 100vw;
  height: 80vh;
  background: yellow;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.container > img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
