.wrapper {
  border: 1px solid red;
}
.container {
  max-width: 100%;
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: lightyellow;

  max-width: 100vw;
  max-height: 80vh;
}
.container > div {
  width: auto;
  height: auto;
  border: 2px dashed red;
}

.center {
}
